pandas
numpy
scipy
scikit-learn
shapely
notebook
pytest
nltk
mlflow
flask
coverage
tensorflow
gensim
scikit-multilearn
transformers
ipywidgets
tf-keras
tensorflow_hub
tensorflow_text
streamlit
kedro
pyspark
kedro-viz
pyLDAvis